

.container__content{
  width: 100%;
  margin-top: 20px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.content__cover > img{
  border:5px solid rgb(144, 144, 144);
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.content__description{
  margin-top: 15px;

}

.content__description > p{
  margin-top: 20px;
  color: rgb(198, 197, 197);
}

.content__description > a {
background: linear-gradient(90deg,  white, red, blue);
-webkit-background-clip: text;
background-clip: text;
color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) { 
  .container__content{
    margin: 20px auto;
    padding: 0 0;
    width: 500px;
  }

  .content__cover > img{
    min-width: 500px;
    height: 300px;
  }

}