<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card 
      Id={{highLight.id}} 
      photoCover={{highLight.photoCover}} 
      cardTitle={{highLight.title}}
      cardDescription={{highLight.description}}>
    </app-big-card>

  </div>
  <div class="articles__others">

    <app-small-card *ngFor="let item of contentList" 
      Id="{{ item.id }}" 
      cardTitle="{{ item.title }}"
      photoCover="{{ item.photoCover }}">
    </app-small-card>

  </div>
</div>