<div class="container__menu-bar">
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/gpsc/">
        <img width="30" src="assets/linkedin.svg" alt="Linkedin">
        <p>
          Linkedin
        </p>
      </a></li>

    <li>
      <a href="https://github.com/Gilson401">
        <img width="30" src="assets/github.svg" alt="Github">
        <p>
          Github
        </p>
      </a>
    </li>
    
    <li><a href="https://www.youtube.com/channel/UC_K6s6sn9z0Tam-cvwL_mGg">
      <img width="30" src="assets/youtube.svg" alt="Seu SVG">
      <p>
        Youtube
      </p>
      </a>
    </li>
  </ul>
</div>